#header{
    background-color: white;
    z-index: 100;
}
#container{
    padding-top:0;
}
button{
    background-color: transparent;
    font-size: 100%;
    cursor:pointer;
    border: none;
    outline: none;
}
.hero_img_box{
    position: relative;
    background-image: url("../img/검색결과.jpg");
    background-size:cover;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    margin:auto;
    height: 623px;
}
.hero_title{
    font-size: 70px;
    color: #ffffff;
    text-shadow: 2px 2px 2px gray;
    font-weight: 500;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -370px;
    margin-top: -35px;
    margin-bottom: 100px;
}
/*--------------------------히어로 이미지 안에 검색창-------------------*/
.search_box{/*검색창 BOX*/
    width: 650px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    border: 8px solid #FFAB40;
    position: absolute;
    left: 50%;
    margin-left: -325px;
    top: 500px;
}
.search_box_input{/*검색창 내 input 디자인*/
    width: 520px;
    height: 96px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 1px 25px;
    border-radius: 20px;
    vertical-align: middle;
}
.search_box_btn{ /*검색창 내 btn 디자인, 위치*/
    width: 75px;
    font-size: 45px;
    position: absolute;
    top:50%;
    margin-top:-27px;
    border: none;
    outline: none;
    background-color: transparent;
}
.search_box_btn:hover{ /*검색창 내 btn 오버시*/
    cursor: pointer;
}
.meeting_filters{
    position: relative;
    width:1080px;
    height: 70px;
    /*부모에 하이트 지정*/
    margin-bottom: 20px;
}
.search_specifics{
    width:610px;
    height:42px;
    float:left;
    margin-top:20px;
}
.search_specifics >li{
    float: left;
    user-select: none;
    width:100px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border:1px solid #9E9E9E;
    border-radius: 10px;
    cursor:pointer;
}
.ages{
    margin: 0 20px;
}
.search_specifics button{
    display: block;
    width:100px;
    height:40px;
    line-height: 40px;
}
.search_specifics a{
    display:block;
}
.search_specifics a:hover{
    text-decoration:underline;
    background-color: #f5f4f4;
}
.crews_recruiting_new_members_box{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.crews_recruiting_new_members_box_top{
    border-bottom: 1px solid #424242;
    margin-bottom: 20px;
}
.crews_recruiting_new_members_box_top>h2{
    margin-bottom: 20px;
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    background-color: white;
}
.crew_all{
    font-size: 18px;
    font-weight: bold;
    color: gray;
    float: right;
    margin-top: 20px;
}
.crews_recruiting_new_members_item{
	height:250px;
    float:left;
    margin-bottom: 30px;
}
.crews_recruiting_new_members_item img:hover{ /*모집중인 크루 이미지 호버 시 */
    opacity: 0.3;
}
.crews_recruiting_new_members_item p{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}



.crews_recruiting_new_members_box li:nth-child(4n+1){
    margin: 0 15px 0 0;
}
.crews_recruiting_new_members_box li:nth-child(4n+2){
    margin: 0 15px;
}
.crews_recruiting_new_members_box li:nth-child(4n+3){
    margin: 0 15px;
}
.crews_recruiting_new_members_box li:nth-child(4n+4){
    margin: 0 0 0 15px;
}

.header_search{
    display: none;
}
/*--------분류 필터 css */
.category:hover>.category_box{
    display: block;
}
.category_box{
    position: absolute;
    width:100px;
    height:360px;
    display:none;
    z-index:100;
    background-color: #ffffff;
    border:1px solid #9E9E9E;
    border-radius: 10px;
    cursor:pointer;
}
.game{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.outdoor{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*--------연령대 필터 css */
.ages:hover>.age_box{
    display:block;
}
.age_box{
    position: absolute;
    width:100px;
    height:165px;
    display:none;
    z-index:100;
    background-color: #ffffff;
    border:1px solid #9E9E9E;
    border-radius: 10px;
    cursor:pointer;
}
.twenties{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.fifties{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*------크루원 수 필터 css */
.number_of_crew_box{
    position: absolute;
    width:100px;
    height:81px;
    display:none;
    z-index:100;
    background-color: #ffffff;
    border:1px solid #9E9E9E;
    border-radius: 10px;
    cursor:pointer;
}
.number_of_crew_descending{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.number_of_crew_ascending{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.number_of_crew:hover>.number_of_crew_box{
    display:block;
}